.App {
  text-align: center;
  background-image: url(../public/media/02.png);
  background-size: cover;         /* Optional: make image cover full background */
  background-position: center;    /* Optional: center the image */
  background-repeat: no-repeat;   /* Optional: prevent tiling */
  height: 100vh; 
  background-size: 800px, auto;
}

header {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

p {
  background-color: black;
  color: white;
}
