:root {
  box-sizing: border-box;
}

*, 
::before,
::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  background-image: url(../public/media/01.png);
  background-image: url(../public/media/02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  height: 100vh; 
  background-size: 900px, auto;
  background-color: #ffffff;
}

.homePage {
  background-color: #f0f0f0;
  border: 1px solid black;
  overflow: scroll;
}

header {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  display: flex;
}

nav {
  user-select: none;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin: 0;
  height: 40px;              /* SINGLE SOURCE OF TRUTH */
}


nav li {
  display: flex;
  align-items: center;
  height: 100%;
}


/* Left draggable title */
nav li:first-child {
  flex: 1;                  /* take remaining space */
}

/* Icon buttons */
nav li:not(:first-child) {
  width: 30px;
  height: 100%;
  margin-left: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.drag-handle {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: 100%;
}


li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  /* .homePage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    height: auto !important;
    margin: auto;
    cursor: default;
  } */
}