:root {
  box-sizing: border-box;
}

*, 
::before,
::after {
  box-sizing: inherit;
}

.homePage {
  background-color: #f0f0f0;
  border: 2px solid black;
  overflow: scroll;
}

header {
  padding-top: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  /* .homePage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    height: auto !important;
    margin: auto;
    cursor: default;
  } */
}