.homePage {
  background-color: #f0f0f0;
  border: 2px solid black;
  position: relative;
  /* overflow: hidden; */
  /* Add these for better drag performance */
  will-change: transform;
  transform: translateZ(0); /* Force hardware acceleration */
  backface-visibility: hidden;
}

h1 {
  font-family: "italicTitleFont";
  font-size: 60px;
  color: #0000ff;
  padding-left: 5%;
}

h2 {
  font-family: "regTitleFont";
  font-size: 48px;
  color: #b4b4b4;
  padding-right: 5%;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer ;
}

button img {
  width: 100px; 
  height: auto;
}

button.contact {
  position: absolute;
  right: 15%;
  top: 85px;
}

button.about {
  position: absolute;
  right: 35%;
  top: 85px;
}


@font-face {
  font-family: "regTitleFont";
  src: url("../../public/fonts/homePageRegular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "boldTitleFont";
  src: url("../../public/fonts/homePageBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "italicTitleFont";
  src: url("../../public/fonts/homePageItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "pTagFont";
  src: url("../../public/fonts/pTagFont.woff2") format("woff2");
  font-weight: 600;
  /* font-weight:700; */
  font-style: italic;
  font-display: swap;
}