.aboutMePopup {
    position: 'fixed'; 
    background: 'white';
    border: '1px solid black';
    overflow: 'scroll';
    width: '300px';
    animation: 'dropTop 0.9s ease';
    display: 'flex'; 
    align-items: 'center';
    justify-content: 'center';
}